.app {
  display: flex;
  gap: 25px;
}

.editor {
  flex-grow: 1;
  max-width: 40%;
}

.editor form:not(:first-child) {
  margin-top: 15px;
}

.preview {
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
  }

  .editor {
    max-width: 100%
  }
}